.header {
  background-color: #fff;
}
.header .header-top {
  height: 60px;
  line-height: 60px;
  text-align: right;
  padding: 0 20px;
  box-sizing: border-box;
}
.header .header-top a {
  margin-left: 10px;
}
.header .breadcrumb {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid #f9c700;
}
.header .breadcrumb .breadcrumb-title {
  text-align: center;
  position: relative;
  font-size: 18px;
}
.header .breadcrumb .breadcrumb-title:after {
  content: '';
  position: absolute;
  left: 50%;
  border-top: 9px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  bottom: -8px;
  transform: translateX(-50%);
}
.header .breadcrumb .weather {
  text-align: right;
  font-size: 14px;
}
.header .breadcrumb .weather .date {
  margin-right: 10px;
  vertical-align: middle;
}
.header .breadcrumb .weather .weather-img img {
  height: 15px;
}
.header .breadcrumb .weather .weather-detail {
  margin-left: 5px;
  vertical-align: middle;
}
